; Note: configparser does not like inline comments for continued lines.

[flake8]
; as recommended by black
max-line-length = 88

; Note: extend-ignore does not work with autopep 8
; Try it with (for ex): autopep8 -v -d -a -a tests/test_example_2.py

; - 1st line: defaults
; - Leave arrays as printed: E201,E203,E241,E231
; - Dont put spaces between functions: E301,E302
; - Allow operator (eg =) alignment: E221
; - Allow operator (eg =) alignment for dicts: E251
; - Allow if-list alignment: E271, E701, and more...
; - Ignore "Comparison to True/None should be with 'is'": E711, E712
ignore=E24,W503,E123,E226,E704,E121,W504,E126,
    E221,
    E251,
    E711, E712


; Doesn't work with autopep8 (only flake8), but it only changes whitespace errors,
; so I guess it doesn't matter.
per-file-ignores=
    explore_props.py:F811
    tests/test_*.py:E501
    tests/test_data.py:E501,W291
    tests/test_example_2.py:E501,E402
    example_2.py:E402,E201,E231
    miyoshi2011.py:E501

exclude=
    dapper/__init__.py
    autoscaler.py
    scripts/*
    docs/*
