# See more at https://www.gitignore.io

##############################
### macOS ###
.DS_Store
._*

##############################
### Windows ###
##############################
Thumbs.db
[Dd]esktop.ini

##############################
### Python ###
##############################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

##############################
# Personal config for Patrick
##############################

# Data
data/
*.mat
*.npz

*~ # vim backups

tmp[1-4].py

dapper/mods/QG/f90/prms_*

old
new
.rsync_xcld
fileops.py
Session.vim
tmp_fileops_grep

# Profiling, etc
profile*.txt
*.pyprof
*.lprof
*.prof
*.dSYM
*.dot
*.profile

