{% set logo = 'https://raw.githubusercontent.com/nansencenter/DAPPER/master/docs/imgs/logo_wtxt.png' %}
{% set logo_link = '/' %}
{% set favicon = 'https://raw.githubusercontent.com/nansencenter/DAPPER/master/docs/imgs/logo.png' %}

{% extends "default/module.html.jinja2" %}

{% block title %}DAPPER docs: {{ module.modulename }}{% endblock %}
